body {
    font-family: Arial;
    background-color: #e8e8e8;
}

.menu {
    display: flex;
    border:solid 1px;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
}

.menu__group {
    display: flex;
    padding-left: 0;
    column-gap: 10px;
}

.menu__item {
    list-style: none;
}

.menu__link {
    text-decoration: none;
    color: #727272;
    line-height: 30px;
    font-size: 16px;
    padding: 7px 5px;
    font-weight: bold;
}

.menu__link--small {
    font-weight: normal;
    font-size: 14px;
}

.menu__link--selected {
    color: #000;
    background: #e8e9e9;
    border-radius: 15px;
}

@media(max-width: 850px){

    .menu {
        flex-direction: column;
        padding:0;
    }

    /* exercise start */
    .menu__group {
        flex-direction: column;
        margin:0;
    }
    .menu__item {
        padding:10px;
        border: solid 1px #aaa;
    }

    .menu__item--selected {
        background-color:#212121;
    }

    .menu__link--selected {
        color:white;
        background: inherit;
        border-radius: 0;
    }
    /* exercise end */
    
}